@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@keyframes gradient-animation {
		0% {
			background-position: 0 50%;
		}
		10% {
			background-position: -10% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		90% {
			background-position: -10% 50%;
		}
		100% {
			background-position: 0 50%;
		}
	}

	.linearGradient {
		background: radial-gradient(circle, #009dff 11.46%, #6d38fb 51.04%, #ff5353 88.24%);
		background-size: 210% 150%;
		animation: gradient-animation 8s ease infinite;
		background-clip: text;
		color: transparent;
		/* 只在pc不允许换行 移动端默认允许换行 */
		@media (min-width: 1024px) {
			white-space: nowrap;
		}
	}
	.linearGradientForMath {
		background: radial-gradient(circle, #256af2 1.67%, #14a9ff 98.38%);
		background-size: 210% 150%;
		animation: gradient-animation 8s ease infinite;
		background-clip: text;
		color: transparent;
		@media (min-width: 1024px) {
			white-space: nowrap;
		}
	}

	.linearGradientChinese {
		background: radial-gradient(circle, #ff1d43 0.06%, #ff3a3a 45.52%, #ff765a 91.03%);
		background-size: 210% 150%;
		animation: gradient-animation 8s ease infinite;
		background-clip: text;
		color: transparent;
		@media (min-width: 1024px) {
			white-space: nowrap;
		}
	}

	.linearGradientForEnglish {
		background: radial-gradient(circle, #8642f8 35.47%, #c740e8 98.37%);
		background-size: 210% 150%;
		animation: gradient-animation 8s ease infinite;
		background-clip: text;
		color: transparent;
		@media (min-width: 1024px) {
			white-space: nowrap;
		}
	}

	/* 滚动条容器的样式 */
	.scrollbar-container {
		overflow-y: scroll; /* 添加纵向滚动条 */
		padding-right: 6px;
	}

	.scrollbar-container::-webkit-scrollbar {
		width: 4px;
	}

	/* 定义滚动条轨道的样式 */
	.scrollbar-container::-webkit-scrollbar-track {
		background-color: transparent; /* 设置轨道背景为透明 */
	}

	/* 定义滚动条滑块的样式 */
	.scrollbar-container::-webkit-scrollbar-thumb {
		background-color: rgba(207, 207, 207, 0.5); /* 设置滑块颜色 */
		border-radius: 2px; /* 设置滑块圆角 */
	}

	/* 鼠标悬浮在滚动条上的样式 */
	.scrollbar-container::-webkit-scrollbar-thumb:hover {
		background-color: rgba(207, 207, 207, 0.8); /* 设置滑块悬浮时的颜色 */
	}
}

:root {
	--ev-c-white: #ffffff;
	--ev-c-white-soft: #f8f8f8;
	--ev-c-white-mute: #f2f2f2;

	--ev-c-red-mute: #cb2727;

	--ev-c-black: #1b1b1f;
	--ev-c-black-soft: #222222;
	--ev-c-black-mute: #282828;

	--ev-c-gray-1: #515c67;
	--ev-c-gray-2: #414853;
	--ev-c-gray-3: #32363f;

	--ev-c-text-1: rgba(255, 255, 245, 0.86);
	--ev-c-text-2: rgba(235, 235, 245, 0.6);
	--ev-c-text-3: rgba(235, 235, 245, 0.38);

	--ev-button-alt-border: transparent;
	--ev-button-alt-text: var(--ev-c-text-1);
	--ev-button-alt-bg: var(--ev-c-gray-3);
	--ev-button-alt-hover-border: transparent;
	--ev-button-alt-hover-text: var(--ev-c-text-1);
	--ev-button-alt-hover-bg: var(--ev-c-gray-2);
}

:root {
	--color-background: var(--ev-c-black);
	--color-background-soft: var(--ev-c-black-soft);
	--color-background-mute: var(--ev-c-black-mute);

	--color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

body {
	min-height: 100vh;
	color: var(--ev-c-red-mute);
	background: var(--color-background);
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
